/* 

Add the Google Fonts you want, remove the ones you don't. 

███████  ██████  ███    ██ ████████ ███████ 
██      ██    ██ ████   ██    ██    ██      
█████   ██    ██ ██ ██  ██    ██    ███████ 
██      ██    ██ ██  ██ ██    ██         ██ 
██       ██████  ██   ████    ██    ███████ 

*/

@import url("https://fonts.googleapis.com/css2?family=Georama:ital,wght@0,400;0,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

/*

Imported stylesheets. Remove the ones you do not want to use.

██ ███    ███ ██████   ██████  ██████  ████████      ██████ ███████ ███████ 
██ ████  ████ ██   ██ ██    ██ ██   ██    ██        ██      ██      ██      
██ ██ ████ ██ ██████  ██    ██ ██████     ██        ██      ███████ ███████ 
██ ██  ██  ██ ██      ██    ██ ██   ██    ██        ██           ██      ██ 
██ ██      ██ ██       ██████  ██   ██    ██         ██████ ███████ ███████ 

*/

@import url("scroll-to-top.css");

/*

X-Small devices (portrait phones, less than 576px) 
No media query for `xs` since this is the default in Bootstrap 

███    ███  ██████  ██████  ██ ██      ███████     ███████ ██ ██████  ███████ ████████ 
████  ████ ██    ██ ██   ██ ██ ██      ██          ██      ██ ██   ██ ██         ██    
██ ████ ██ ██    ██ ██████  ██ ██      █████       █████   ██ ██████  ███████    ██    
██  ██  ██ ██    ██ ██   ██ ██ ██      ██          ██      ██ ██   ██      ██    ██    
██      ██  ██████  ██████  ██ ███████ ███████     ██      ██ ██   ██ ███████    ██    
                                                                                       
*/

/* Add Border Box and Smooth Scroll */

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Use variable for to easily change your theme's colour scheme and typography.

██    ██  █████  ██████  ██  █████  ██████  ██      ███████ ███████ 
██    ██ ██   ██ ██   ██ ██ ██   ██ ██   ██ ██      ██      ██      
██    ██ ███████ ██████  ██ ███████ ██████  ██      █████   ███████ 
 ██  ██  ██   ██ ██   ██ ██ ██   ██ ██   ██ ██      ██           ██ 
  ████   ██   ██ ██   ██ ██ ██   ██ ██████  ███████ ███████ ███████ 
                                                                    
*/

:root {
  --primary-text-color: white;
  --secondary-text-color: #BFBFBF;
  --accent-color: #00F3D5;
  --overlay-color: #09938b;
  --hyperlink-color: #ffffff;
  --hyperlink-alternate-color: orangered;
  --hover-color: #00F3D5;
  --body-typeface: "Noto Sans", sans-serif;
  --heading-typeface: "Georama", sans-serif;
  --project-title-typeface: "Georama", sans-serif;
  --off-white: #f8f8ff;
  --floral-white: #fffaf0;
  --background-color: #0F0F0F;
  --alt-background-color: rgb(255, 255, 255);
  --text-selection-background-color: #555555;
}

body {
  font-family: var(--body-typeface);
  color: var(--primary-text-color);
  background: #0F0F0F;
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
  padding-top: 5rem;
}

::selection {
  background: var(--accent-color);
}

/* Making all images responsive */
img,
svg {
  max-width: 100%;
  height: auto;
  vertical-align: top;
  /* Removes the gap/space in inline elements for text descenders. */
  object-fit: contain;
  /* This is optional. Also try cover or leave out entirely. */
}

.circular-image {
  border-radius: 50%;
}

/* .cls-1 {fill: red;}
.cls-1:hover {fill: yellowgreen;}
.cls-2 {fill:green;}
.cls-3 {fill:blue;}
.cls-3:hover {fill:yellowgreen;} */

#v {
  fill: green;
}
#v:hover {
  fill: yellow;
}
#m {
  fill: red;
}
#m:hover {
  fill: blue;
}
#top-petal {
  fill: purple;
}
#bottom-petal {
  fill: orange;
}
#left-petal {
  fill: red;
}
#right-petal {
  fill: green;
}


/* Global & Mobile Typography 

████████ ██    ██ ██████   ██████   ██████  ██████   █████  ██████  ██   ██ ██    ██ 
   ██     ██  ██  ██   ██ ██    ██ ██       ██   ██ ██   ██ ██   ██ ██   ██  ██  ██  
   ██      ████   ██████  ██    ██ ██   ███ ██████  ███████ ██████  ███████   ████   
   ██       ██    ██      ██    ██ ██    ██ ██   ██ ██   ██ ██      ██   ██    ██    
   ██       ██    ██       ██████   ██████  ██   ██ ██   ██ ██      ██   ██    ██    
                                                                                     
*/

h1 {
  font-size: 4.5rem;
  font-family: var(--heading-typeface);
  margin-bottom: 1rem;
  font-weight: 500;
  color: var(--accent-color);
}

.custom-navigation {
  font-size: 1.35rem;
  text-transform: uppercase;
}

.project-title {
  font-size: 3rem;
  font-family: var(--project-title-typeface);
  margin-bottom: 1rem;
  color: var(--accent-color);
}

.overlay-title {
  font-size: 2.875rem;
  text-align: center;
  color: white;
}

.overlay-description {
  color: white;
}

.section-title {
  margin-left: 5rem;
  margin-top: 5rem;
}

.section-description {
  margin-left: 5rem;
  color: white;
}

h2 {
  font-size: 5.75rem;
  font-family: var(--heading-typeface);
  margin-bottom: 0.5rem;
  color: white;
}

.project-preview {
  font-size: 7rem;
  text-transform: uppercase;
  font-weight: 600;
  color: white;
}

h3 {
  font-size: 4.5rem;
  line-height: 1.3;
  color: var(--accent-color);
}

h4 {
  font-size: 2rem;
  font-family: "Noto Sans", sans-serif;
  color: var(--accent-color);
}

.footer-main {
  color: white;
  font-size: 2.5rem;
}

/* Hyperlink Styles */

a:link {
  color: var(--hyperlink-color);
  text-decoration: none;
}
a:visited {
  color: var(--hyperlink-color);
}
a:hover {
  color: var(--hover-color);
}
a:focus {
  outline: 1px solid var(--accent-color);
}
a:active {
  color: var(--hover-color); /* Tap on mobile */
}

.navigation-arrow {
  color: var(--alt-background-color);
}

.navigation-arrow:link {
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: white;
  color: transparent;
}

.navigation-arrow:active,
.navigation-arrow:hover {
  color: var(--accent-color);
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}

.colored-link {
  color: var(--hyperlink-alternate-color);
}

.custom-navigation:hover {
  background: url(assets/temp/heading-background.svg);
  background-size: 15%;
  background-repeat: no-repeat;
  background-position: center center;
}

p {
  font-size: 1.25rem;
  line-height: 1.4;
  color: var(--secondary-text-color);
}

.heart {
  color: var(--heart-color);
}

.award-item {
  line-height: 1.3;
}

.social-item {
  line-height: 1.3;
}

.project-description {
  font-size: 1.25rem;
  line-height: 1.3;
  margin-bottom: 1rem;
  color: black;
}

/* Hero 

██   ██ ███████ ██████   ██████  
██   ██ ██      ██   ██ ██    ██ 
███████ █████   ██████  ██    ██ 
██   ██ ██      ██   ██ ██    ██ 
██   ██ ███████ ██   ██  ██████  
                                 
*/

/* New Menu */

.header {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgba(15, 15, 15, 0.75);
  backdrop-filter: blur(15px);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9000;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 7rem;
  min-height: 6rem;
}

.brand-logo {
  width: 7rem;
}

.nav-list {
  list-style: none;
  text-transform: uppercase;
  display: flex;
  column-gap: 2rem;
}

.nav-item {
  transition: all 0.3s ease-in-out;
}

.nav-link {
  text-decoration: none;
  font-size: 1.5rem;
  transition: all 0.4s;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

.hamburger {
  display: none;
  cursor: pointer;
  position: absolute;
  top: 1rem;
  right: 2rem;
}

.bar {
  height: 2px;
  width: 2rem;
  background-color: #ffffff;
  margin: 5px 0;
  opacity: 0.8;
  transition: all 0.3s ease-in-out;
}

.hamburger--open .bar:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
}

.hamburger--open .bar:nth-child(2) {
  opacity: 0;
}

.hamburger--open .bar:nth-child(3) {
  transform: translateY(-7px) rotate(-45deg);
}

@media (max-width: 768px) {
  .header-content {
    padding: 0 2rem;
    min-height: 4rem;
  }

  .brand-logo {
    width: 4rem;
  }
 
  .nav {
    position: fixed;
    top: 3.5rem;
    left: 0;
    background-color: rgba(15, 15, 15, 0.95);
    width: 100%;
    padding: 4.5rem 0 4.5rem;
    transform: translateX(-100%)
  }

  .nav-list {
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
  }

  .nav-link {
    font-size: 1rem;
  }

  .hamburger {
    display: block;
  }

  .nav--open {
    transform: translateX(0) !important;
  }
}



/* Menu */

/*
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
*/

header {
  background-color: #0F0F0F;
}

li {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}

a.jump-link {
  color: var(--background-color);
}

.scroll-up a {
  color: var(--background-color);
}

.scroll-up a:hover {
  color: var(--floral-white);
}


/* Work Page Hero Area */

.hero-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100vw;
}

.main-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 25rem;
  margin-top: 5px;
  margin-right: 5rem;
  gap: 1rem;
  align-items: center;
}

.logo a,
.main-nav a {
  padding: 1rem 1rem;
  text-transform: uppercase;
  text-align: center;
  display: block;
}

.logo {
  width: 8rem;
  margin-left: 5rem;
}

.hero-icon {
  font-size: 4rem;
}

.hero-footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: white;
}

.hero-footer-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
}

/* This part isn't required */

.projects {
  background: #111;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Work Page Layout

██     ██  ██████  ██████  ██   ██     ██████   █████   ██████  ███████ 
██     ██ ██    ██ ██   ██ ██  ██      ██   ██ ██   ██ ██       ██      
██  █  ██ ██    ██ ██████  █████       ██████  ███████ ██   ███ █████   
██ ███ ██ ██    ██ ██   ██ ██  ██      ██      ██   ██ ██    ██ ██      
 ███ ███   ██████  ██   ██ ██   ██     ██      ██   ██  ██████  ███████ 

*/

/* Hero Area */
.hero {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
}

.work-page {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  flex-direction: column;
  /* border: 4px solid white; */
  margin: 0 7rem;
}

.hero-headline-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: left;
  justify-content: center;
  text-align: left;
}

.hero-headline {
  font-size: 4.5rem;
}

.hero-subheadline {
  font-family: "Noto Sans", sans-serif;
}

.hero-body {
  font-family: "Noto Sans", sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.project-preview-title {
  color: white;
}

.project-tags {
  color: #00F3D5;
  text-transform: uppercase;
}

/* OLD STUFF */

.work-wrapper {
  flex: 1;
}

/* Padding around work grid and project page */
.portfolio,
.project-wrapper {
  padding: 0.25rem;
}

/* Defining the work page grid */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
  /* Magical, media-query-less responsiveness is achieved using the repeat() function and the auto placement keywords. To achieve wrapping, we can use the auto-fit. If you're using auto-fit, the content will stretch to fill the entire row width.  Specify a minimum width for the columns, using the minmax() function. The 1fr is what tells the browser to distribute the space between the columns so that each column equally gets one fraction of that space.  */
}

.work-page-grid-item {
  width: 100%;
  height: auto;
  position: relative;
  /* Required to contain overlay size */
}

/* Overlay */
.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.75s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1em;
  background-color: var(--overlay-color);
  transition: opacity 0.3s, visibility 0.3s;
}

.work-page-grid-item:hover .overlay {
  visibility: visible;
  opacity: 0.8;
}

/*
██████  ██      █████  ███   ███
██   ██ ██     ██   ██  ███ ███
██████  ██     ███████    ███
██      ██     ██   ██    ███
██      ██████ ██   ██    ███
*/

.gallery-intro {
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
  margin-bottom: 1.5rem;
}

.gallery-description {
  margin-top: 1rem;
}

/* Filter Buttons NOT IN USE */

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  overflow: hidden;
}

.filter-container {
  padding-top: 1rem;
  padding-left: 5rem;
}

.filterDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
  display: none;
}

.show {
  display: flex;
  align-items: center;
  justify-content: center;
}

.filter-btn {
  border: none;
  color: white;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 1rem;
  border: 1px solid white;
  background-color: black;
  margin-right: 0.5rem;
}

.filter-btn:hover {
  background-color: var(--accent-color);
  color: white;
}

.filter-btn.active {
  background-color: var(--accent-color);
  color: white;
}

/* Masonry */

.img {
  width: 100%;
}

.masonry {
  column-count: 3;
  column-gap: 3.5rem;
}

.masonry .mItem {
  display: inline-block;
  margin-bottom: 3.5rem;
  width: 100%;
}

.mItem img {
  border-radius: 2%;
}

.mItem-title {
  font-size: 1.5rem;
  color: var(--primary-text-color);
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.mItem-tag {
  font-size: 1rem;
  text-transform: uppercase;
}

/* 

 █████  ██████   ██████  ██    ██ ████████ 
██   ██ ██   ██ ██    ██ ██    ██    ██    
███████ ██████  ██    ██ ██    ██    ██    
██   ██ ██   ██ ██    ██ ██    ██    ██    
██   ██ ██████   ██████   ██████     ██    
                                           
*/


.about {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.about-title {
  font-size: 2rem;
}

.about-statement {
  font-family: 'Noto Sans', sans-serif;
  font-size: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  line-height: 2.5rem;
}

.about-bio {
  margin-bottom: 1rem;
}

.resume-header {
  font-family: 'Noto Sans', sans-serif;
}

.update-card-topic {
  font-family: 'Noto Sans', sans-serif;
  font-size: 1rem;
  color: var(--secondary-text-color);
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

.update-card-info {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--primary-text-color)
}

.about-image img {
  border-radius: 2%;
}

.about-toolkit {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.toolkit-items {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row; 
  gap: 2rem;
}

.life-update-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 2rem;
}

.life-update-contents {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 0.5rem;
}

.fa-book {
  color: var(--accent-color);
}

.fa-map {
  color: var(--accent-color);
}

.fa-gamepad {
  color: var(--accent-color);
}


/* Global Footer

███████  ██████   ██████  ████████ ███████ ██████  
██      ██    ██ ██    ██    ██    ██      ██   ██ 
█████   ██    ██ ██    ██    ██    █████   ██████  
██      ██    ██ ██    ██    ██    ██      ██   ██ 
██       ██████   ██████     ██    ███████ ██   ██ 
                                                   
*/

.fa-linkedin {
  background: #0F0F0F;
  color: #00F3D5;
}

.fa-behance {
  background: #0F0F0F;
  color: #00F3D5;  
}

.fa-dribbble {
  background: #0F0F0F;
  color: #00F3D5; 
}

.fa-instagram {
  background: #0F0F0F;
  color: #00F3D5;
}

.fineprint {
  color: #0F0F0F;
}

.scroll-up:hover {
  background-color: #0F0F0F;
}

/* Project Page 

██████  ██████   ██████       ██ ███████  ██████ ████████     ██████   █████   ██████  ███████ 
██   ██ ██   ██ ██    ██      ██ ██      ██         ██        ██   ██ ██   ██ ██       ██      
██████  ██████  ██    ██      ██ █████   ██         ██        ██████  ███████ ██   ███ █████   
██      ██   ██ ██    ██ ██   ██ ██      ██         ██        ██      ██   ██ ██    ██ ██      
██      ██   ██  ██████   █████  ███████  ██████    ██        ██      ██   ██  ██████  ███████ 
                                                                                               
*/

.project-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #0F0F0F;
}

/* Sidebar */
.project-aside {
  width: 100%;
  color: white;
  background: #0F0F0F;
  display: flex;
  flex-direction: column;
  padding-left: 5rem;
  padding-top: 5rem;
}

.project-navigation {
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: flex-end;
  justify-content: space-between;
  padding-top: 1rem;
}

.arrow {
  padding: 0;
}

.project-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.project-image {
  width: 100%;
  font-size: 12rem;
  min-height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 1rem;
}

.project-title {
  color: white;
}

.project-description {
  color: white;
}

.project-text {
  width: 100%;
  font-size: 3.25rem;
  padding: 3rem;
}

/* Main Project Image Area */

.project-details {
  width: 100%;
  background-color: #0F0F0F;
  padding: 1rem;
}

/* For Case Studies */

.cs-title-text {
  color: white;
}



/* 

██   ██  ██████  ██      ██████  ██ ███    ██  ██████  
██   ██ ██    ██ ██      ██   ██ ██ ████   ██ ██       
███████ ██    ██ ██      ██   ██ ██ ██ ██  ██ ██   ███ 
██   ██ ██    ██ ██      ██   ██ ██ ██  ██ ██ ██    ██ 
██   ██  ██████  ███████ ██████  ██ ██   ████  ██████  
                                                       
*/

.holding-page-wrapper {
  display: grid;
  place-items: center;
  width: 100%;
  min-height: 100vh;
  background: white;
  /* https://grainy-gradients.vercel.app/ */
}

.holding-page-inner-container {
  display: grid;
  place-items: center;
  text-align: center;
}

.holding-page-animation {
  margin-bottom: 1rem;
}

.holding-page-title {
  font-size: 2rem;
  color: var(--background-color);
}

.holding-page-copyright {
  font-size: 0.8rem;
  color: var(--background-color);
}

/*
███████ ██████  ██████   ██████  ██████  
██      ██   ██ ██   ██ ██    ██ ██   ██ 
█████   ██████  ██████  ██    ██ ██████  
██      ██   ██ ██   ██ ██    ██ ██   ██ 
███████ ██   ██ ██   ██  ██████  ██   ██ 
*/

.error-page {
  display: grid;
  place-items: center;
}

.error-page-inner-container {
  text-align: center;
}

.error-page-title {
  color: var(--accent-color);
}


/*

███    ███ ███████ ██████  ██  █████       ██████  ██    ██ ███████ ██████  ██ ███████ ███████ 
████  ████ ██      ██   ██ ██ ██   ██     ██    ██ ██    ██ ██      ██   ██ ██ ██      ██      
██ ████ ██ █████   ██   ██ ██ ███████     ██    ██ ██    ██ █████   ██████  ██ █████   ███████ 
██  ██  ██ ██      ██   ██ ██ ██   ██     ██ ▄▄ ██ ██    ██ ██      ██   ██ ██ ██           ██ 
██      ██ ███████ ██████  ██ ██   ██      ██████   ██████  ███████ ██   ██ ██ ███████ ███████ 

*/

/* Small devices (phones, 320px and up) */

@media (min-width: 320px) {

  * {
  cursor: auto;
  }

  /* Typography */

  h1 {
    font-size: 3.25rem;
  }

  p {
    font-size: 1rem;
  }

  a {
    font-size: 0.75rem;
  }

  /* Footer */

  .global-footer {
    display: flex;
    flex-direction: column;
    gap: 50px;
    /*border: 2px solid red;*/
    background: var(--accent-color);
    width: 100vw;
    min-height: 40vh;
    justify-content: space-between;
    padding: 1rem 2rem;
    margin-top: 3rem;
  }
  
  .footer-main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .footer-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2.5rem;
  }
  
  .footer-CTA {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .footer-message {
    font-size: 1.5rem;
    color: #0F0F0F;
    width: 60%;
  }
  
  .footer-contact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }

  .footer-contact-links {
    color: var(--background-color);
  }

  .socials-list {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    list-style-type: none;
  }

  .fa {
    padding: 0.75rem;
    font-size: 1.25rem;
    width: 2.75rem;
    text-align: center;
    text-decoration: none;
    margin: 0.15rem 0.1rem;
    border-radius: 50%;
  }

  .footer-other {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .fineprint {
    font-size: 0.75rem;
    margin-bottom: 1rem;
  }

  /* Work Page */

  .work-page {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    flex-direction: column;
    /* border: 4px solid white; */
    margin: 0 2rem;
    width: 100vw;
  }

  .hero {
    min-height: 50vh;
    display: flex;
    flex-direction: column;
  }
  
  .hero-headline-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: left;
    justify-content: center;
    text-align: left;
  }
  
  .hero-headline {
    font-size: 2.5rem;
    color: var(--accent-color);
    line-height: 1.5rem;
  }
  
  .hero-subheadline {
    font-size: 1.25rem;
    line-height: 1.75rem;
    width: 100%;
  }
  
  .hero-body {
    font-size: 1rem;
    width: 100%;
  }
  
  .project-tags {
    font-size: 1rem;
    color: var(--accent-color);
    text-transform: uppercase;
  }
  
  /* Project Preview */
  
  .project-preview-title {
    font-size: 2.5rem;
  }

  .project-preview-info {
    margin-top: 0.5rem;
  }

  .work-project-preview-left {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    align-content: space-between;
    /* border: 2px solid green; */
    gap: 1.5rem;
    margin-bottom: 4rem;
  }
  
  .work-project-preview-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    align-content: space-between;
    /* border: 2px solid green; */
    gap: 1.5rem;
    order: 0;
    margin-bottom: 4rem;
  }

  div#projectPreviewImage {
    order: 1;
  }
  
  div#projectPreviewDescription {
    order: 2;
  }
  
  .work-project-desc {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-end;
    align-items: flex-start;
    max-height: 250px;
    width: 100%;
    /* border: 2px dashed red; */
  }
  
  .work-project-img img {
    border-radius: 2%;
  }

  /* About Page */

  .about-page {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    flex-direction: column;
    /* border: 4px solid white; */
    margin: 0 2rem;
    width: 100vw;
  }

  .about-me {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    padding-bottom: 3rem;
    padding-top: 3rem;
  }
  
  .about-title {
    font-size: 1.75rem;
  }

  .about-statement {
    font-size: 1.75rem;
    line-height: 2.25rem;
  }

  .about-desc {
    width: 100%;
  }
  
  .about-image {
    width: 100%;
  }

  .toolkit-items {
    gap: 1rem;
}

  .toolkit-icon img {
    border: 1px solid white;
    border-radius: 20%;
    width: 40px;
    height: 40px;
  }

  .about-section-title {
    font-size: 1.75rem;
    font-weight: 500;
    line-height: 2.25rem;
    margin-bottom: 1rem;
  }
  
  .resume {
    display: flex;
    flex-flow: row wrap;
  }
  
  .resume-section {
    width: 100%;
  }
  
  .resume-item {
    padding-bottom: 1.5rem;
  }
  
  .resume-header {
    font-size: 1rem;
    font-weight: 600; 
    line-height: 1.25rem;
  }

  .life-update-card {
    padding: 1rem 0.75rem 1rem 0.5rem;
    border: 1px solid white;
    width: 70vw;
    border-radius: 1rem;
  }

  .update-card-info {
    font-size: 1rem;
  }

  .update-card-topic {
    font-size: 0.75rem;
  }

  /* Case Study Page */

  .cs-title-text {
    font-size: 2rem;
  }

  .case-study-template {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    flex-direction: column;
    /* border: 4px solid white; */
    margin: 2rem 2rem;
    width: 100vw;
  }

  .cs-info-tag {
    margin-bottom: 1rem;
  }

  .project-subhead {
    font-size: 1.5rem;
    line-height: 1.75rem;
  }

  .project-tags {
    font-size: 0.75rem;
    line-height: 1rem;
  }

  .case-study-top {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  
  .case-study-info {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    order: 0;
  }
  
  .case-study-overview {
    width: 100%;
  }
  
  .case-study-deets {
    width: 100%;
  }

  div#cs-info-item-1 {
    order: 1;
  }

  div#cs-info-item-2 {
    order: 2;
    margin-top: 2rem;
  }
  
  .case-study-banner img {
    border-radius: 2%;
    margin-bottom: 0.5rem;
  }
  
  .case-study-layout {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    width: 100%;
    margin-top: 2rem;
  }
  
  .case-study-img img {
    border-radius: 2%;
    margin-bottom: 0.5rem;
  }

  button {
    font-size: 0.75rem;
    font-family: "Noto Sans", sans-serif;
    background-color: var(--accent-color);
    border: none;
    color: #0F0F0F;
    padding: 0.5rem 1rem;
    text-align: center;
    border-radius: 1.5rem;
    cursor: pointer;
    transition-duration: 0.4s;
  }
  
  button:hover {
    background-color: #09938b;
    color: var(--background-color);
  }
  
  .solution-button {
    margin-top: 1rem;
  }

  .case-study-arrows {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  /* Gallery Page */


  .gallery-page {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    flex-direction: column;
    /* border: 4px solid white; */
    margin: 0 2rem;
    width: 100vw;
  }

  .gallery-description {
    font-size: 1rem;
    width: 100%;
  }

  .mItem-title {
    font-size: 1rem;
  }

  .mItem-tag {
    font-size: 0.75rem;
  }

  .masonry {
    column-count: 1;
  }


  /* For James's Project Page Template */

  /* Project Pages */

  .project-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: var(--background-color);
  }

  /* Sidebar */
  .project-aside {
    padding-left: 2rem;
    padding-top: 3rem;
    padding-right: 2rem;
  }

  .project-details {
    width: 100%;
    background-color: #0F0F0F;
    padding: 1rem;
  }
}


/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {

  /* Top Nav */

  .header-content {
    padding: 2rem 2rem;
  }

  /* Typography */

  h1 {
    font-size: 3.75rem;
  }

  p {
    font-size: 1rem;
  }

  /* Hero Area */

  .hero-headline {
    font-size: 3.75rem;
  }
  
  .hero-subheadline {
    font-size: 1.75rem;
    line-height: 2.5rem;
  }
  
  .hero-body {
    font-size: 1.5rem;
  }

  /* Footer */

  .global-footer {
    display: flex;
    flex-direction: column;
    gap: 50px;
    /*border: 2px solid red;*/
    background: var(--accent-color);
    width: 100%;
    min-height: 40vh;
    justify-content: space-between;
  }
  
  .footer-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .footer-CTA {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .footer-message {
    font-size: 2rem;
    color: #0F0F0F;
    width: 60%;
  }
  
  .footer-contact {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1.5rem;
  }
  
  .socials-list {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    list-style-type: none;
  }
  
  .fa {
    padding: 0.75rem;
    font-size: 1.5rem;
    width: 3.25rem;
    text-align: center;
    text-decoration: none;
    margin: 0.25rem 0.25rem;
    border-radius: 50%;
  }

  .footer-other {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  /* Project Preview */

  .work-project-desc {
    max-height: 250px;
    width: 100%;
    gap: 0px;
    /* border: 2px dashed red; */
  }

  /* Gallery Page */

  .gallery-intro {
    margin-top: 6rem;
  }

  .gallery-description {
    font-size: 1rem;
    width: 70%;
  }

  .masonry {
    column-count: 2;
  }

  /* About Page */

  .about-me {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 5rem;
    padding-top: 4rem;
  }
  
  .about-desc {
    width: 50%;
  }
  
  .about-image {
    width: 40%;
    height: 300px;
  }

  .toolkit-items {
    gap: 1.5rem;
  }

  .toolkit-icon img {
    border: 1px solid white;
    border-radius: 20%;
    width: 50px;
    height: 50px;
  }

  .about-section-title {
    font-weight: 500;
    line-height: 5rem;
    margin-bottom: 0.5rem;
  }
  
  .resume {
    display: flex;
    flex-flow: row wrap;
  }
  
  .resume-section {
    width: 35rem;
    margin-right: 5rem;
  }
  
  .resume-item {
    padding-bottom: 2rem;
  }
  
  .resume-header {
    font-size: 1.5rem;
    font-weight: 600; 
    line-height: 2rem;
  }

  .life-update-card {
    padding: 1.25rem 0.75rem 1.25rem 0.5rem;
    border: 1px solid white;
    width: 60vw;
    border-radius: 1rem;
  }

  .update-card-info {
    font-size: 1.5rem;
  }

  .update-card-topic {
    font-size: 1rem;
  }

  /* Case Study Page*/

  .case-study-template {
    margin-top: 5rem;
  }

  .cs-title-text {
    font-size: 3.5rem;
    width: 70%;
  }

  .project-subhead {
    font-size: 2rem;
    line-height: 2.5rem;
  }

  .project-tags {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .case-study-top {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
  
  .case-study-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    order: 0;
  }

  div#cs-info-item-1 {
    order: 1;
  }

  div#cs-info-item-2 {
    order: 2;
  }
  
  .case-study-overview {
    width: 50%;
  }
  
  .case-study-deets {
    width: 30%;
  }
  
  .case-study-banner img {
    border-radius: 2%;
    margin-bottom: 0.5rem;
  }
  
  .case-study-layout {
    display: flex;
    flex-direction: column;
    row-gap: 0.75rem;
    width: 70%;
    margin-top: 3rem;
  }
  
  .case-study-img img {
    border-radius: 2%;
    margin-bottom: 0.5rem;
  }

  button {
    font-size: 1rem;
    font-family: "Noto Sans", sans-serif;
    background-color: var(--accent-color);
    border: none;
    color: var(--background-color);
    padding: 1rem 1.5rem;
    text-align: center;
    border-radius: 3rem;
    cursor: pointer;
    transition-duration: 0.4s;
  }
  
  button:hover {
    background-color: #09938b;
    color: var(--background-color);
  }
  
  .solution-button {
    margin-top: 1rem;
  }


}

/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {

  /* Top Nav */

  .header-content {
    padding: 2rem 7rem;
    min-height: 4rem;
  }

  /* Custom Cursor */

  * {
  cursor: none;
  /*It is now invisible!*/
  }

  .cursor {
    /*The position is fixed so it can stay on screen
  even when scrolling*/
    position: fixed;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--accent-color);
    /*To put it on the center of the cursor*/
    transform: translate(-50%, -50%);
    transition: width 0.3s, height 0.3s;
    /* So the JS can work properly*/
    pointer-events: none;
    z-index: 9999;
  }

  .hover-cursor {
    width: 100px;
    height: 100px;
    background-image: url('/assets/cursor/cursor-on-hover.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    backdrop-filter: blur(10px);
    border: 1px solid var(--accent-color); 
    transition: width 0.3s, height 0.3s;
    transform: translate(-50%, -50%);
  }

  .footer-cursor {
    width: 15px;
    height: 15px;
    background-color: var(--background-color);
    backdrop-filter: blur(10px);
    transition: width 0.3s, height 0.3s;
    transform: translate(-50%, -50%);
  }

  /* Typography */

  h1 {
    font-size: 3.5rem;
  }

  h2 {
    font-size: 5.75rem;
  }
 
  p {
      font-size: 1.125rem;
  }

  a {
    font-size: 1rem;
  }


  /* Hero Work Area */

  .hero-headline {
    font-size: 3.5rem;
    color: var(--accent-color);
    line-height: 3rem;
  }
  
  .hero-subheadline {
    font-size: 1.5rem;
    line-height: 2.25rem;
    width: 70%;
  }


  /* Project Preview */

  .work-page {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    flex-direction: column;
    margin: 2rem 7rem;
  }

  .work-project-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    /* border: 2px dashed red; */
    gap: 100px;
  }

  .work-project-preview-left {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    align-content: space-between;
    /* border: 2px solid green; */
    gap: 40px;
  }

  .work-project-preview-right {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    align-content: space-between;
    /* border: 2px solid green; */
    gap: 40px;
    order: 0;
    padding-left: 0rem;
  }

  .project-preview-title {
    font-size: 3rem;
  }

  .project-preview-info {
    margin-top: 1rem;
  }

  .work-project-desc {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-end;
    align-items: flex-start;
    max-height: 500px;
    width: 500px;
    gap: 0px;
    /* border: 2px dashed red; */
  }

  div#projectPreviewImage {
    order: 2;
  }

  div#projectPreviewDescription {
    order: 1;
  }

  .work-project-img img {
    border-radius: 2%;
  }

  /* Gallery Page */

  .gallery-page {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    flex-direction: column;
    margin: 2rem 7rem;
  }

  .gallery-description {
    font-size: 1.125rem;
  }

  .mItem-title {
    font-size: 1.25rem;
  }

  .mItem-tag {
    font-size: 1rem;
  }

  /* About Page */

  .about-page {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    flex-direction: column;
    margin: 2rem 7rem;
  }

  .about-me {
    padding-bottom: 0rem;
  }

  .about-title {
    font-size: 1.5rem;
  }

  .about-statement {
    font-size: 1.5rem;
    line-height: 1.75rem;
  }

  .about-bio {
    font-size: 1.125rem;
  }

  .toolkit-icon img {
    border: 1px solid white;
    border-radius: 20%;
    width: 70px;
    height: 70px;
  }

  .life-update-card {
    padding: 1.25rem 0.75rem 1.25rem 0.5rem;
    border: 1px solid white;
    width: 50vw;
    border-radius: 1rem;
  }

  .update-card-info {
    font-size: 1.5rem;
  }

  .update-card-topic {
    font-size: 1rem;
  }

  /* Case Study Page */

  .case-study-template {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    flex-direction: column;
    /* border: 4px solid black; */
    margin: 6rem 7rem;
  }

  .case-study-layout {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    width: 50%;
    margin-top: 5rem;
  }

  .cs-title-text {
    font-size: 3rem;
    width: 50%;
  }

  .cs-info-tag {
    margin-bottom: 1.5rem;
  }

  .project-subhead {
    font-size: 2.5rem;
    line-height: 3rem;
  }

  .project-tags {
    font-size: 1.15rem;
    line-height: 1.75rem;
  }

  /* Footer */

  .global-footer {
    padding: 2rem 7rem 2rem 7rem;
  }

  .footer-message {
    font-size: 2rem;
    color: var(--background-color);
    width: 60%;
  }

  .footer-contact-links {
    font-size: 1rem;
  }

  .fineprint {
    font-size: 1rem;
  }

  /* OLD CODE TO REVIEW */

  /* Padding around work grid and project page */
  .portfolio,
  .project-wrapper {
    padding: 0.5rem;
  }

  /* Project Page Flex Direction on Large Devices */
  .project-wrapper {
    flex-direction: row;
  }

  /* Sidebar on Large Devices */
  .project-aside {
    width: 35%;
    height: 65vh;
    position: -webkit-sticky;
    position: sticky;
    top: 5vh;
    padding-right: 2rem;
  }

  /* Main Project Image Area on Large Devices */
  .project-details {
    width: 65%;
  }

  /*.project-image {
    min-height: 100vh;
  }*/

  .project-image-container {
    flex-direction: row;
  }

  .project-navigation {
    justify-content: flex-start;
  }

  .arrow {
    padding-right: 1rem;
  }

  /* Gallery Page Masonry Columns */
  .masonry {
    column-count: 2;
  }
}

/* Only add styles below to make very minor adjustments for extra or extra-extra large devices */

/* X-Large devices (large desktops, 1200px and up)*/

@media (min-width: 1200px) {

  /* Hero Work Area */

  .hero-headline {
    font-size: 4.5rem;
    color: var(--accent-color);
    line-height: 5rem;
  }
  
  .hero-subheadline {
    font-size: 1.75rem;
    line-height: 2.5rem;
    width: 70%;
  }


  /* Project Preview */

  .work-page {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    flex-direction: column;
    margin: 2rem 7rem;
  }

  .work-project-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    /* border: 2px dashed red; */
    gap: 100px;
  }

  .work-project-preview-left {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    align-content: space-between;
    /* border: 2px solid green; */
    gap: 40px;
  }

  .work-project-preview-right {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    align-content: space-between;
    /* border: 2px solid green; */
    gap: 40px;
    order: 0;
    padding-left: 0rem;
  }

  .project-preview-title {
    font-size: 5rem;
  }

  .project-preview-info {
    margin-top: 1.75rem;
  }

  .work-project-desc {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-end;
    align-items: flex-start;
    max-height: 500px;
    width: 500px;
    gap: 0px;
    /* border: 2px dashed red; */
  }

  div#projectPreviewImage {
    order: 2;
  }

  div#projectPreviewDescription {
    order: 1;
  }

  .work-project-img img {
    border-radius: 2%;
  }

  /* Gallery Page */

  .gallery-description {
    font-size: 1.5rem;
    width: 50%;
  }

  .masonry {
    column-count: 3;
  }

  /* About Page */

  .about-page {
    gap: 5rem;
  }

  .about-me {
    padding-bottom: 3rem;
  }

  .about-title {
    font-size: 2rem;
  }

  .about-statement {
    font-size: 2rem;
    line-height: 2.5rem;
  }

  .about-bio {
    font-size: 1.25rem;
  }

  .toolkit-icon img {
    border: 1px solid white;
    border-radius: 20%;
    width: 80px;
    height: 80px;
  }

  .life-update-card {
    width: 40vw;
  }
}

/* XX-Large devices (larger desktops, 1400px and up) */

@media (min-width: 1400px) {
  
  /* Hero Work Area */

  .hero-headline {
    font-size: 4.5rem;
    line-height: 5rem;
  }
  
  .hero-subheadline {
    font-size: 2rem;
    line-height: 2.75rem;
    width: 70%;
  }

  /* Project Preview */
  
  .work-project-preview-right {
    padding-left: 10rem;
  }

  /* About */

    .life-update-card {
    width: 30vw;
  }

}
